body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background-color: #FFF8F3;
}
h1 {
  width: 35%;
  margin:50px auto 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
}

h2 {
  width: 20%;
  margin: 40px auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
}

p {

}
.top-container {
  margin-top: 100px;
}
.top-container,.middle-container,.bottom-container {

}
.top-container {

}
.middle-container {

}
.bottom-container{

}
.bottom-cloud{
  position: absolute;
  left: 300px;
  top: 250px;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}
